<!-- About Section -->
<section class="success" id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>Informationen über das Haus</h2>
        <hr class="star-light">
      </div>
    </div>
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2" style="text-align: center;">
        <p style="font-size: 30px;">Herzlich Willkommen in Ihrem Traumhaus in Nikiti, Chalkidiki! </p>
        <p style="font-size: 30px;">Meine Frau und ich freuen uns, dass wir uns den Traum erfüllen konnten, in Nikiti ein eigenes Haus zu bauen. 
           Hier können Sie Ihre Tage in harmonischer Schönheit verbringen und das besondere Klima, Essen und die Mentalität der Menschen genießen. </p>
        <p style="font-size: 30px;">Lassen Sie sich von der wunderschönen Umgebung und dem mediterranen Lebensstil verzaubern und entspannen Sie in unserer komfortablen Ferienwohnung. Hier können Sie die Seele baumeln lassen und neue Kraft tanken.</p>
        <p style="font-size: 30px;">Wir wünschen Ihnen einen erholsamen Aufenthalt in unserem Haus in Nikiti! </p>
      </div>
      <!--<div class="col-lg-8">
        <p style="font-size: 30px;">Lassen Sie sich von der wunderschönen Umgebung und dem mediterranen Lebensstil verzaubern und entspannen Sie in unserer komfortablen Ferienwohnung. Hier können Sie die Seele baumeln lassen und neue Kraft tanken.</p>
        <p style="font-size: 30px;">Wir wünschen Ihnen einen erholsamen Aufenthalt in unserem Haus in Nikiti! </p>
      </div> -->
      <!-- <div class="col-lg-8 col-lg-offset-2 text-center">
        <a href="https://github.com/jeromelachaud/freelancer-theme" class="btn btn-lg btn-outline">
          <i class="fa fa-download"></i> Download Theme
        </a>
      </div> -->
    </div>
  </div>
</section>
