<!-- Portfolio Modals -->
{% for post in site.posts %}
<div class="portfolio-modal modal fade" id="portfolioModal-{{ post.modal-id }}" tabindex="-1" role="dialog"
  aria-hidden="true">
  <div class="modal-content">
    <div class="close-modal" data-dismiss="modal">
      <div class="lr">
        <div class="rl">
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
          <div class="modal-body">
            <h2>{{ post.title }}</h2>
            <hr class="star-primary">
            <img src="img/portfolio/{{ post.img }}" class="img-responsive img-centered" alt="{{ post.alt }}">
            {% if post.description1 %}
            <p>{{ post.description1 }}</p>
            {% endif %}
            <img src="img/portfolio/Haus1.jpg" class="img-responsive img-centered" alt="{{ post.alt }}">
            {% if post.descriptionhaus1 %}
            <p>{{ post.descriptionhaus1 }}</p>
            {% endif %}
            <img src="img/portfolio/Haus2.jpg" class="img-responsive img-centered" alt="{{ post.alt }}">
            {% if post.descriptionhaus2 %}
            <p>{{ post.descriptionhaus2 }}</p>
            {% endif %}
            <img src="img/portfolio/Erdgeschoss1.jpg" class="img-responsive img-centered" alt="{{ post.alt }}">
            {% if post.descriptionErdgeschoss1 %}
            <p>{{ post.descriptionErdgeschoss1 }}</p>
            {% endif %}
            <img src="img/portfolio/Erdgeschoss2.jpg" class="img-responsive img-centered" alt="{{ post.alt }}">
            {% if post.descriptionErdgeschoss2 %}
            <p>{{ post.descriptionErdgeschoss2 }}</p>
            {% endif %}
            <img src="img/portfolio/Erdgeschoss3.jpg" class="img-responsive img-centered" alt="{{ post.alt }}">
            {% if post.descriptionErdgeschoss3 %}
            <p>{{ post.descriptionErdgeschoss3 }}</p>
            {% endif %}
            <img src="img/portfolio/Balkon.jpg" class="img-responsive img-centered" alt="{{ post.alt }}">
            {% if post.descriptionBalkon %}
            <p>{{ post.descriptionBalkon }}</p>
            {% endif %}
            <img src="img/portfolio/Zimmer11.jpg" class="img-responsive img-centered" alt="{{ post.alt }}">
            {% if post.descriptionZimmer11 %}
            <p>{{ post.descriptionZimmer11 }}</p>
            {% endif %}
            <img src="img/portfolio/Zimmer12.jpg" class="img-responsive img-centered" alt="{{ post.alt }}">
            {% if post.descriptionZimmer12 %}
            <p>{{ post.descriptionZimmer12 }}</p>
            {% endif %}
            <img src="img/portfolio/Zimmer21.jpg" class="img-responsive img-centered" alt="{{ post.alt }}">
            {% if post.descriptionZimmer21 %}
            <p>{{ post.descriptionZimmer21 }}</p>
            {% endif %}
            <img src="img/portfolio/Zimmer22.jpg" class="img-responsive img-centered" alt="{{ post.alt }}">
            {% if post.descriptionZimmer22 %}
            <p>{{ post.descriptionZimmer22 }}</p>
            {% endif %}
            <img src="img/portfolio/Bad1.jpg" class="img-responsive img-centered" alt="{{ post.alt }}">
            {% if post.descriptionBad1 %}
            <p>{{ post.descriptionBad1 }}</p>
            {% endif %}
            <img src="img/portfolio/Bad2.jpg" class="img-responsive img-centered" alt="{{ post.alt }}">
            {% if post.descriptionBad2 %}
            <p>{{ post.descriptionBad2 }}</p>
            {% endif %}
            <img src="img/portfolio/Grill.jpg" class="img-responsive img-centered" alt="{{ post.alt }}">
            {% if post.descriptionGrill %}
            <p>{{ post.descriptionGrill }}</p>
            {% endif %}            
            <ul class="list-inline item-details">
              {% if post.client %}
              <li>Client:
                <strong>{{ post.client }}</strong>
              </li>
              {% endif %}
              {% if post.project-date %}
              <li>Date:
                <strong>{{ post.project-date }}</strong>
              </li>
              {% endif %}
              {% if post.category %}
              <li>Service:
                <strong>{{ post.category }}</strong>
              </li>
              {% endif %}
            </ul>
            <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i>
              Close</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endfor %}
